<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Loan <b>Approved List</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Application Id</th>
                        <th>Loan Id</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Loan Requested</th>
                        <th>Tenure of Loan</th>
                        <th>Sanctioned Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ap of customerList">
                        <td>{{ap.applicant.applicationId}}</td>
                        <td>{{ap.loanAid}}</td>
                        <td>{{ap.applicant.customer.fullName}}</td>
                        <td>{{ap.applicant.customer.mobileNo}}</td>
                        <td>{{ap.applicant.paddr.cityName}},{{ap.applicant.paddr.pincodeNo}}</td>
                        <td>{{ap.applicant.loanDetails.totalLoanRequired}}</td>
                        <td>{{ap.applicant.loanDetails.tenureofLoan}}</td>
                        <td>{{ap.sanction.sanctionedAmount}}</td>
                        
                        <td><button class="btn btn-success" [routerLink]="['emicalculator']" [state]="ap">Calculate-EMI</button></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 

 <router-outlet></router-outlet>  
