
<form>
    <form [formGroup]="cibilform" (ngSubmit)="dataget()">

<div class="col-md-6">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Cibil Id *" formControlName="cibilId" value="" />
    </div>
    <!-- <div class="form-group">
        <select class="form-control" formControlName="uIdStatus">
            <option class="hidden"  selected disabled>Uid Select Status <br></option>
            <option>Valid</option>
            <option>Invaild</option>
            <option>Pending</option>
        </select>

        
    </div> -->
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Cibil Score *"  formControlName="cibilScore" [ngModel]="cibil" />
        <button type="button" class="btnRegister" (click)="addcibil()" >Calculate Cibil</button>

    </div>
   
</div>

    <div class="form-group">
        <select class="form-control" formControlName="cibilStatus">
            <option class="hidden"  selected disabled>Cibil Select Status <br></option>
            <option>Valid</option>
            <option>Invaild</option>
            <option>Pending</option>
        </select>

    </div>
 

    <div formGroupName="enquiryform" >

         <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" customer Id *" formControlName="customerId"  [ngModel]="cs.ec.customerId"   />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" disabled placeholder=" title *" formControlName="title"   [ngModel]="cs.ec.title"  />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" Full Name *" formControlName="fullName"  [ngModel]="cs.ec.fullName"  />
        </div>
        <div class="form-group">
            <input type="email" disabled class="form-control" placeholder="  Gender*" formControlName="gender"  [ngModel]="cs.ec.gender"  />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" Customer Mobile Number *" formControlName="mobileNo"  [ngModel]="cs.ec.mobileNo" />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control"  placeholder="  Customer Email *" formControlName="email"  [ngModel]="cs.ec.email"   />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder="  Customer Pancard No *" formControlName="pancardNo"  [ngModel]="cs.ec.pancardNo"   />
        </div>
        
        <div class="form-group">
            <input type="text"  disabled class="form-control" placeholder=" Customer loanAmount *" formControlName="loanAmount"  [ngModel]="cs.ec.loanAmount"  />
        </div>
                                             
   <div> <input type="submit" class="btnRegister"  value="Register"/></div>
</div>
</form>


<form>
    <form [formGroup]="cibilform" (ngSubmit)="dataget()">

<div class="col-md-6">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Cibil Id *" formControlName="cibilId" value="" />
    </div>
    <!-- <div class="form-group">
        <select class="form-control" formControlName="uIdStatus">
            <option class="hidden"  selected disabled>Uid Select Status <br></option>
            <option>Valid</option>
            <option>Invaild</option>
            <option>Pending</option>
        </select>

        
    </div> -->
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Cibil Score *"  formControlName="cibilScore" [ngModel]="cibil" />
        <button type="button" class="btnRegister" (click)="addcibil()" >Calculate Cibil</button>

    </div>
   
</div>

    <div class="form-group">
        <select class="form-control" formControlName="cibilStatus">
            <option class="hidden"  selected disabled>Cibil Select Status <br></option>
            <option>Valid</option>
            <option>Invaild</option>
            <option>Pending</option>
        </select>

    </div>
 

    <div formGroupName="enquiryform" >

         <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" customer Id *" formControlName="customerId"  [ngModel]="cs.ec.customerId"   />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" disabled placeholder=" title *" formControlName="title"   [ngModel]="cs.ec.title"  />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" Full Name *" formControlName="fullName"  [ngModel]="cs.ec.fullName"  />
        </div>
        <div class="form-group">
            <input type="email" disabled class="form-control" placeholder="  Gender*" formControlName="gender"  [ngModel]="cs.ec.gender"  />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder=" Customer Mobile Number *" formControlName="mobileNo"  [ngModel]="cs.ec.mobileNo" />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control"  placeholder="  Customer Email *" formControlName="email"  [ngModel]="cs.ec.email"   />
        </div>
        <div class="form-group">
            <input type="text" disabled class="form-control" placeholder="  Customer Pancard No *" formControlName="pancardNo"  [ngModel]="cs.ec.pancardNo"   />
        </div>
        
        <div class="form-group">
            <input type="text"  disabled class="form-control" placeholder=" Customer loanAmount *" formControlName="loanAmount"  [ngModel]="cs.ec.loanAmount"  />
        </div>
                                             
   <div> <input type="submit" class="btnRegister"  value="Register"/></div>
</div>
</form>

